/*
[URLs on the domain] github.dev
Required fonts:
    Windows    - Inconsolata, Inconsolata Semi Condensed
    Arch Linux - pacman -S ttf-inconsolata
    Linux      - apt install fonts-inconsolata
*/
:root {
    --cw : hsl(   0, 0%, 90% );
    --cg : hsl( 200, 3%, 50% );
    --cg30 : hsl( 200, 3%, 30% );
	--cg20 : hsl( 200, 3%, 20% );
}
.action-item,
.action-label,
.monaco-findInput .input,
.monaco-inputbox,
.monaco-workbench .part > .content,
.pane-header h3,
.part.editor .tab,
.view-line,
.statusbar > .items-container,
.tab-label a,
.title-label h2 {
	font-size: 18px !important;
    font-family: 'Inconsolata Semi Condensed';
}
.pane-header h3.title, /* panel header */
.title-label h2 {
    font-family: Inconsolata, InconsolataGO;
    letter-spacing: 5px;
}
.icon.checked > .action-label.codicon {
	color: var(--cw) !important;
}
.search-icon {
	font-size: 20px !important;
}
.action-label.codicon {
    width: 26px;
	font-size: 26px !important;
    color: var(--cg) !important;
}
.titlebar-right > .action-toolbar-container {
	padding-right: 12px !important;
}
.monaco-action-bar .action-item .codicon {
	width: 20px;
}
.monaco-tl-contents .action-label.codicon {
    margin-right: 0 !important;
	font-size: 18px !important;
}
.codicon-search-details::before {
    margin-right: 8px;
	line-height: 26px;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
    color: var(--cg);
	background: var(--cg20) !important;
    border-right-color: #000 !important;
}
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab.active,
.monaco-breadcrumbs,
.statusbar > .items-container {
	background: var(--cg30) !important;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
    padding-left: 0;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab > .tab-actions {
	width: 22px;
}
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab > .tab-actions .action-label.codicon {
    display: inline;
    vertical-align: -5px;
    font-size: 20px !important;
    color: var(--cg) !important;
}
.action-item.command-center-center, /* input box */
.monaco-inputbox {
    border-color: var(--cg) !important;
}
.badge-content,
.monaco-count-badge { /* changes count */
    font-size: 14px !important;
}
.monaco-editor { /* commit inputbox */
    outline: 1px solid var(--cg);
}
.pane-header { /* panel header */
    height: 36px !important;
	background: var(--cg20) !important;
}
.split-view-view:first-of-type .pane-header h3.title { /* repo name */
    letter-spacing: unset;
    text-transform: none;
}
.monaco-workbench .codicon[class*="codicon-"] {
	margin-right: 6px;
    height: fit-content;
}
.file-icon::before,
.monaco-icon-label::before,
.monaco-workbench .codicon[class*="codicon-"],
.monaco-action-bar .action-item .codicon {
	width: 20px;
}
.monaco-workbench .codicon[class*="codicon-"] {
    padding: 0 !important;
	font-size: 20px;
}
.monaco-editor .find-widget > .find-part,
.monaco-text-button,
.monaco-workbench .part > .content .message,
.search-view .query-details.more h4 {
	font-size: 16px;
    color: var(--cw);
}
.scm-view .button-container > .monaco-button-dropdown > .monaco-dropdown-button {
	line-height: 24px;
	margin: 0;
}
.monaco-workbench a,
.statusbar > .items-container {
    color: var(--cw) !important;
}