ACTION=="add", SUBSYSTEM=="bluetooth", KERNELS=="serial*", SUBSYSTEMS=="serial", RUN+="/srv/http/bash/bluetoothcommand.sh bton"
ACTION=="remove", SUBSYSTEM=="bluetooth", KERNELS=="serial*", SUBSYSTEMS=="serial", RUN+="/srv/http/bash/bluetoothcommand.sh btoff"
