# udevadm control --reload-rules && udevadm trigger
ACTION=="add", KERNEL=="card*", SUBSYSTEM=="sound", SUBSYSTEMS=="usb", RUN+="/srv/http/bash/mpd-conf.sh add"
ACTION=="remove", KERNEL=="card*", SUBSYSTEM=="sound", SUBSYSTEMS=="usb", RUN+="/srv/http/bash/mpd-conf.sh remove"