[Unit]
Description = Splash screen on startup
DefaultDependencies=no
After=systemd-vconsole-setup.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ply-image /srv/http/assets/img/splash.png

[Install]
WantedBy=getty.target
