[Unit]
Description=Browser on RPi
After=startup.service

[Service]
Type=idle
ExecStart=/usr/bin/startx /srv/http/bash/startx.sh

[Install]
WantedBy=multi-user.target
