[Unit]
Description=rAudio Startup
After=nginx.service

[Service]
Type=oneshot
ExecStart=/srv/http/bash/startup.sh

[Install]
WantedBy=multi-user.target
