[Unit]
Description=UPnP Renderer front-end to MPD
After=startup.service

[Service]
Type=simple
CPUAffinity=3
ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf
ExecStartPost=/srv/http/bash/cmd.sh upnpnice

[Install]
WantedBy=multi-user.target
