[Unit]
Description=Web Services Dynamic Discovery host daemon
After=network-online.target smb.service
Wants=network-online.target
Requires=smb.service

[Service]
ExecStart=/srv/http/bash/wsdd.py --shortlog
User=nobody
Group=nobody
